@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    background-color: white; 
    
}
body{
    padding: 1rem;
    width: 100vmax;
}
.contentBx{
    display: flex;
    justify-content: center;
    width: 50%;
    height:100%
}
.contentBx  .formBX{
    width: 50%;
}
 h2{
    color:#607d8b;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid  #00C689;
    display: inline-block;
    letter-spacing: 1px;
}
.inputBx{
    margin-bottom: 20px;
}
.inputBx span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color:#607db8;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.inputBx  input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color:#607d8b;
    background: transparent;
    border-radius: 30px;

}
.inputBx  input[type="submit"]
{
    background: #00C689;
    color: #11101b;
    outline: none;
    border:none ;
    font-family: sans-serif;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}
.inputBx  input[type="submit"]:hover{
    background-color:rgb(63, 216, 96) ;
}
.formBX .remember{
    margin-bottom: 10px;
    color: #607d8b;
    font-weight: 500;
    font-size: 14px;
}
.inputBx p{
    color:#607db8
}
.inputBx p *{
color: #ff4584;
}
h3{
    color: #11101b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}
.formBX .soc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBX .soc li{
    list-style: none;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100%;
    margin: 0 7px;
    cursor: pointer;
}
.formBX .soc li:hover{
    background-color: #00C689;
}
a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
a:hover{
    color: black;
    
}
.hero {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 8rem;
}
.hero img {
    max-width: 100%;
    
}
.soc a i{
    font-size: 35px;
}
/* =============================navigation bar ==================================*/
/* table {
    table-layout: fixed;
  }
.nv{
    display: none;
}
.tb th a{
    padding: 10PX 25PX;
    border-radius: 50px;
    font-size: 20px;
    margin: 0 5px;
    color: #11101b;
}
.tb th a:hover{
    color: black;
    background:  #00C689;
} */
header{
    
    width: 100%;
    height: 80px;
    background: white;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px; 
    
}
.logo{
    width: 150px;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color: black;
    font-size: 20px;
    padding: 10PX 25PX;
    border-radius: 50px;
    transition: 0.2s;
    font-weight: 500;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: black;
    background:  #00C689;
}
.nav-bar ul li a.active{
    color: #11101b;
    background: #00C689;
}
/* ===============media quries====== */

@media only screen and (max-width: 1100px){
    .nav-bar ul li a{
        display: block;
         color: black;
         font-size: 18px;
         font-weight: 500;
         padding: 10PX 25PX;
         border-radius: 50px;
         transition: 0.2s;
         margin: 0 5px;
    }
}
@media only screen and (max-width: 1320px) {
    .header{
        padding: 0 50px;
    }
    
    /* .openbtn{
        /* visibility: hidden; */
        /* display: none;
    } */ 
    .hero {
        display: grid;
        grid-template-columns: 100%;
    }

    #hero-illustration {
        order:-1;
    }
    
      
}
@media only screen and (max-width: 900px){
    .tb{
        display: none;
    }
    .nv{
        display: contents;
    }
    header{
        position: relative;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 3px;
        background: black;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
       position: absolute;
        top:110px;
        left: 0;
        right: 0;
        width: 100vw;
        background: white;
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 100px;
    }
    /* .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    } */
    .nav-bar ul li a{
        display: block;
         color: #11101b;
         font-size: 18px;
         font-weight: 500;
         padding: 10PX 25PX;
         border-radius: 50px;
         transition: 0.2s;
         margin: 0 5px;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        font-weight: 500;
        margin-bottom:12px ;
    }
    .formBX{
        padding-top: 100px;
    }
}
@media screen and (max-width: 768px){
   
    .nav-bar ul li a{
        
         font-size: 20px;
         padding: 10PX 25PX;
        
    } 
    .nav-bar.active{
        height: 80px;
        width: 100vmax;
    }
    
}